CONFIG_ESP32_SPIRAM_SUPPORT=y
CONFIG_SPIRAM_TYPE=SPIRAM_TYPE_AUTO
CONFIG_SPIRAM_SPEED=SPIRAM_SPEED_40M
CONFIG_SPIRAM_BOOT_INIT=y
CONFIG_SPIRAM_USE=SPIRAM_USE_MALLOC
CONFIG_SPIRAM_MODE_QUAD=y
CONFIG_SPIRAM_MODE_OCT=
CONFIG_SPIRAM_MEMTEST=y
