CONFIG_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHSIZE_DETECT=y
CONFIG_ESPTOOLPY_AFTER_NORESET=y

CONFIG_ESPTOOLPY_FLASHSIZE_4MB=
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="../../../tildamk6/partitions-tidal.csv"
CONFIG_BOOTLOADER_APP_ROLLBACK_ENABLE=y
CONFIG_APP_EXCLUDE_PROJECT_VER_VAR=n
CONFIG_APP_EXCLUDE_PROJECT_NAME_VAR=n
CONFIG_APP_PROJECT_VER_FROM_CONFIG=y

CONFIG_USB_ENABLED=y
CONFIG_TINYUSB=y
CONFIG_TINYUSB_HID_ENABLED=y
CONFIG_TINYUSB_CDC_ENABLED=y
CONFIG_TINYUSB_HID_BUFSIZE=128
CONFIG_TINYUSB_DESC_HID_STRING="TiDAL badge"
CONFIG_TINYUSB_DESC_MANUFACTURER_STRING="Electromagnetic Field"
CONFIG_TINYUSB_DESC_PRODUCT_STRING="TiDAL"

CONFIG_TINYUSB_DESC_CUSTOM_VID=0x16D0
CONFIG_TINYUSB_DESC_CUSTOM_PID=0x1114
CONFIG_TINYUSB_DESC_USE_ESPRESSIF_VID=
CONFIG_TINYUSB_DESC_USE_DEFAULT_PID=
